.table {
  .table-header, .table-body {
    padding: 0px;
    margin: 0px;
    list-style: none;

    .row {
      color: var(--color-gray-50);
      display: flex;
      line-height: 3rem;
    }
  }

  .table-header .row {
    font-weight: 500;
    height: 55px;
    cursor: auto;

    @media (max-width: 600px) {
      height: 45px;
    }
  }

  .table-body .row {
    border-radius: var(--default-border-radius);
    height: 55px;

    border-left: 3px solid transparent;
    margin-bottom: 10px;

    box-shadow: var(--color-gray-10) 0px 1px 5px 1px;

    &:hover {
      background-color: var(--color-inactive-lighter);
    }

    @media (max-width: 600px) {
      height: 45px;
    }
  }

  svg {
    width: 18px;
    height: 18px;
    fill: var(--color-gray-50);
  }
}

