.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .contacts-table-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .title {
      display: flex;
      justify-content: space-between;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .contacts-table {
    display: flex;
    flex-direction: column;

    .row {
      &.disabled {
        color: var(--color-gray-20);
        svg { fill: var(--color-gray-20); }
      }

      &.paused {
        color: var(--color-gray-30);
        svg { fill: var(--color-gray-30); }
      }

      .type {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 60px;
      }

      .title {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
        align-items: center;

        span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 100%;
          line-height: 16px;

          @media (max-width: 500px) {
            max-width: 180px;
          }
        }


      }

      .options {
        display: flex;
        align-items: center;
        width: 135px;
        justify-content: flex-end;
        margin-right: 25px;

        a, span {
          display: flex;
          align-items: center;
        }

        > :not(:last-child) {
          margin-right: 15px;
        }

        .warning {
          cursor: help;
          svg { fill: var(--color-warning); }
        }
      }

    }
  }
}
