.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .contacts-table-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .title {
      display: flex;
      justify-content: space-between;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .contacts-table {
    display: flex;
    flex-direction: column;

    .row {
      font-size: var(--default-font-size);
      cursor: default;
      display: flex;
      height: 55px;
      justify-content: space-between;
      border-bottom: 1px solid var(--color-gray-5);

      &:not(.header):hover {
        background-color: var(--color-primary-5);
      }

      &.disabled {
        color: var(--color-gray-20);
        svg { fill: var(--color-gray-20); }
      }

      &.paused {
        color: var(--color-gray-30);
        svg { fill: var(--color-gray-30); }
      }

      &.header {
        font-weight: 500;
      }

      .type {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 60px;
      }

      .title {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
        padding-left: 10px;
        align-items: center;
      }

      .options {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        > :not(:last-child) {
          margin-right: 15px;
        }

        .warning {
          cursor: help;
          svg { fill: var(--color-warning); }
        }
      }


      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
