.monitor-list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .options-bar {
    .dropdown {
      width: 140px;
      left: -150px;
    }
  }

  .monitor-filters {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .search {
      margin-right: 10px;
      min-width: 200px;

      input {
        border: 1px solid var(--color-gray-10);
        padding: 10px;
        width: 100%;
      }
    }

    .status-filter {
      display: flex;
      align-items: center;

      .label {
        display: flex;
        color: var(--color-gray-30);
        font-weight: 500;
        cursor: default;
        user-select: none;
        margin-right: 10px;
        margin-left: 10px;
      }

      ul {
        user-select: none;
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;

        li {
          display: flex;
          cursor: pointer;
          align-items: center;
          padding: 5px 10px;
          border: 1px solid var(--color-gray-10);
          border-radius: 2px;
          margin-right: 10px;
          height: 38px;
          input {
            cursor: pointer;
          }
          label {
            padding-left: 10px;
            cursor: pointer;
          }
        }
      }
    }

    @media (max-width: 560px) {
      .status-filter > .label { display: none; }
    }

    @media (max-width: 450px) {
      flex-direction: column;

      .search {
        .form-field {
          max-width: 200px;
        }
      }
      .status-filter {
        margin-top: 10px;
      }
    }
  }

  .monitor-list {
    display: flex;
    max-width: 1200px;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 10px;

    a {
      color: inherit;
      text-decoration: none;
    }

    .monitors-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 200px;
      border: 1px dashed var(--color-gray-10);
      border-radius: var(--default-border-radius);

      h3 {
        font-weight: 500;
        color: var(--color-gray-30);
        font-size: var(--default-font-size);
      }
    }

    .monitor-title {
      margin-right: 20px;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 17px;
      margin: auto;
      font-size: var(--default-font-size);
      margin-right: 10px;
    }

    .monitor-options {
      min-width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    .monitor-tags {
      max-width: 230px;
      width: 100%;
      display: flex;
      align-items: center;
      margin-right: 20px;

      .tags {
        line-height: 20px;
        display: inline-block;
        padding: 6px;
        border-radius: 3px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        span {
          padding:6px;
          margin-right: 3px;
          border-radius: var(--default-border-radius);
          background-color: var(--color-gray-5-05);
          font-weight: 400;
        }
      }
    }

    .monitor-updated {
      min-width: 195px;
      display: flex;
      align-items: center;
    }

    .monitor-status {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 50px;
    }

    @media (max-width: 500px) {
      .monitor-name {
        padding-left: 0px;
      }

      .monitor-updated {
        min-width: 170px;
      }
    }

    @media (max-width: 700px) {
      .monitor-tags {
        display: none;
      }
    }
  }

  .table-body .row {
    > a {
      display: flex;
      width: 100%;
    }

    .monitor-options {
      /* background-color: var(--color-gray-5-05); */
      background-color: var(--color-inactive-lighter);
      cursor: pointer;
      position: relative;


      .dropdown {
        width: 130px;
        top: 60px;
        right: 0px;
      }
    }


    &.inactive {
      border-left: 3px solid var(--color-inactive);
    }

    &.success {
      border-left: 3px solid var(--color-success);

      .monitor-status svg {
        fill: var(--color-success);
      }
    }

    &.warning {
      border-left: 3px solid var(--color-warning);

      .monitor-status svg {
        fill: var(--color-warning);
      }
    }

    &.failed {
      border-left: 3px solid var(--color-danger);

      .monitor-status svg {
        fill: var(--color-danger);
      }
    }

    &:hover {
      background-color: var(--color-inactive-lighter);
    }
  }
}

