.main-layout {
  .log-table {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;


    .load-more-button {
      padding: 10px;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      min-height: 90px;
    }

    .table-header,
    .table-item {
      display: flex;
      padding: 0px;
      margin: 0px;
      list-style: none;

      &.status-up {
        svg {
          fill: var(--color-success);
        }
      }

      &.status-down {
        svg {
          fill: var(--color-danger);
        }
      }

      > li {
        color: var(--color-gray-40);
        font-size: var(--default-font-size);
        display: flex;
        height: 2.5rem;
        align-items: center;
        padding-left: 5px;

        &.icon {
          min-width: 35px;
        }

        &.status {
          flex-grow:1;
          min-width: 90px;
        }

        &.latency {
          min-width: 90px;
        }

        &.created-at {
          min-width: 200px;
        }

        &.reason {
          width: 150px;
        }

        @media (max-width: 600px) {
          &.created-at {
            min-width: 160px;
          }
        }

        @media (max-width: 420px) {
          &.status { display: none;}
        }

      }
    }

    .table-header {
      font-weight: 500;
    }

    .table-item {
      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: var(--color-primary-5);
      }
    }
  }
}
