.monitor-detail-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

  @media (max-width: 600px) {
    --default-font-size: 14px;
  }

  > section {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1200px;
    width: 100%;
  }

  .section-title-bar {
    display: flex;
    position: relative;

    &.secondary {
      margin-top: 50px;
    }

    h2 {
      flex-grow: 1;
      padding-left: 10px;
      font-size: var(--default-font-size);
      font-weight: 500;
      margin: 0px;
      height: 28px;
      display: flex;
      align-items: center;
      cursor: default;
    }

    .dropdown {
      right: 10px;
      top: 35px;
      width: 118px;
    }

    .options {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 5px;

      background-color: rgba(232, 233, 234, 0.4);

      border-radius: 2px;
      /* border: 1px solid var(--color-gray-5); */
      padding: 0px 10px;
      cursor: pointer;
      margin-right: 10px;
      width: 120px;


      > .label {
        margin-right: 10px;
      }

      > .icon {
        display: flex;
        align-items: center;
      }

      svg {
        width: 15px;
        height: 15px;
        fill: var(--color-gray-50);
      }
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
  }

  hr {
    border: 1px dashed var(--color-gray-10);
    width: 100%;
    border-radius: 10px;
  }


  h3 {
    padding: 2px;
    color: var(--color-gray-60);
    font-size: var(--default-h3-font-size);
    font-weight: 500;
    /* background-color: var(--color-gray-40); */
    margin-top: 10px;
    border-radius: var(--default-border-radius);
    cursor: default;
    /* box-shadow: 0px 1px 7px var(--color-gray-20); */

    display: flex;
    align-items: center;

    svg {
      width: var(--title-icon-size);
      height: var(--title-icon-size);
      margin-right: 10px;
      margin-left: 5px;
      fill: var(--color-gray-50);
    }
  }

  .topside-options {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
  }

  .period-info {
    margin: 0px;
    padding: 0px 10px;

    width: 100%;
    max-width: 290px;
    max-height: 38px;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    > li {
      display: flex;
      flex-direction: column;
    }

    .label {
      font-weight: 200;
      width: 30px;
    }
    .value {
      width: 30px;
      font-weight: 500;
      display: inline-block;

      &.latency {
        min-width: 90px;
      }

      &.period {
        width: 100%;
      }
    }

    li:not(:last-child) {
      margin-right: 10px;
    }

    &.invisible {
      opacity: 0;
    }
  }

  .timeframe-selector {
    width: 200px;
  }

  .latency-chart {
    display: flex;
    flex-direction: column;
    margin: 10px;

    .chart {
      display: flex;
      justify-content: center;
      display: flex;
      position: relative;
      max-width: 1200px;
      max-height: 150px;
      height: 90px;
    }
  }

  .details-table {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;

    .details-column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 5px 10px;
      max-width: 50%;
    }

    .details-row {
      display: flex;
      padding: 10px 5px;
      border-bottom: 1px solid var(--color-gray-5-05);
    }

    .details-field {
      font-size: var(--default-font-size);
      display: flex;
      flex-grow: 1;
      padding: 0px 10px;

      &.success {
        font-weight: 600;
        color: var(--color-success-dark);
      }

      &.fail {
        font-weight: 600;
        color: var(--color-danger-dark);
      }

      &:first-child {
        font-weight: 500;
        min-width: 140px;
        max-width: 140px;
      }

      &:last-child {
        justify-content: flex-end;
        text-align: right;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    @media (max-width: 600px) {
      flex-direction: column;

      .details-column {
        max-width: 100%;
      }
    }
  }

  .history-table {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    font-size: var(--default-font-size);

    .load-more-button {
      padding: 10px;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      height: 20px;
    }

    .table-header,
    .table-body-item {
      display: flex;
      padding: 0px;
      margin: 0px;
      list-style: none;

      svg {
        fill: var(--color-gray-40);
      }

      &.status-up {
        svg {
          fill: var(--color-success);
        }
      }

      &.status-warn {
        svg {
          fill: var(--color-warning);
        }
      }

      &.status-down {
        svg {
          fill: var(--color-danger);
        }
      }

      > li {
        color: var(--color-gray-40);
        display: flex;
        height: 2.5rem;
        align-items: center;
        padding-left: 10px;
        cursor: default;

        &.icon {
          width: 50px;
        }

        &.status {
          flex-grow:1;
          min-width: 90px;
        }

        &.created-at {
          width: 200px;
        }

        &.duration {
          width: 100px;
        }

        @media (max-width: 420px) {
          &.status { display: none;}
        }

      }
    }


    .table-header {
      font-weight: 500;
    }

    .table-body-item {
      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: var(--color-primary-5);
      }
    }
  }

  .log-table {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;


    .load-more-button {
      padding: 10px;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      min-height: 90px;
    }

    .table-header,
    .table-body-item {
      display: flex;
      padding: 0px;
      margin: 0px;
      list-style: none;

      &.status-up {
        svg {
          fill: var(--color-success);
        }
      }

      &.status-down {
        svg {
          fill: var(--color-danger);
        }
      }

      > li {
        color: var(--color-gray-40);
        font-size: var(--default-font-size);
        display: flex;
        height: 2.5rem;
        align-items: center;
        padding-left: 5px;

        &.icon {
          min-width: 35px;
        }

        &.status {
          flex-grow:1;
          min-width: 90px;
        }

        &.latency {
          min-width: 90px;
        }

        &.created-at {
          min-width: 200px;
        }

        &.reason {
          width: 150px;
        }

        @media (max-width: 600px) {
          &.created-at {
            min-width: 160px;
          }
        }

        @media (max-width: 420px) {
          &.status { display: none;}
        }

      }
    }

    .table-header {
      font-weight: 500;
    }

    .table-body-item {
      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: var(--color-primary-5);
      }
    }
  }
}
