


.monitor-page {
  .header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1200px;
    width: 100%;
  }

  .section-title {
    display: flex;
    position: relative;

    flex-grow: 1;
    padding-left: 10px;
    font-size: var(--default-font-size);
    font-weight: 500;
    height: 28px;
    display: flex;
    align-items: center;
    cursor: default;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &.centered {
      align-items: center;
    }
  }

  hr {
    border: 1px solid var(--color-gray-1);
    width: 100%;
    border-radius: 10px;
  }


  h3 {
    padding: 2px;
    color: var(--color-gray-60);
    font-size: var(--default-h3-font-size);
    font-weight: 500;
    /* background-color: var(--color-gray-40); */
    margin-top: 10px;
    border-radius: var(--default-border-radius);
    cursor: default;
    /* box-shadow: 0px 1px 7px var(--color-gray-20); */

    display: flex;
    align-items: center;

    svg {
      width: var(--title-icon-size);
      height: var(--title-icon-size);
      margin-right: 10px;
      margin-left: 5px;
      fill: var(--color-gray-50);
    }
  }

  .topside-options {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
  }

  .period-info {
    margin: 0px;
    padding: 0px 10px;

    width: 100%;
    max-width: 290px;
    max-height: 38px;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    > li {
      display: flex;
      flex-direction: column;
    }

    .label {
      font-weight: 200;
      width: 30px;
    }
    .value {
      width: 30px;
      font-weight: 500;
      display: inline-block;

      &.latency {
        min-width: 90px;
      }

      &.period {
        width: 100%;
      }
    }

    li:not(:last-child) {
      margin-right: 10px;
    }

    &.invisible {
      opacity: 0;
    }
  }

  .timeframe-selector {
    width: 200px;
  }

  .latency-chart {
    display: flex;
    flex-direction: column;
    margin: 10px;

    .chart {
      display: flex;
      justify-content: center;
      display: flex;
      position: relative;
      max-width: 1200px;
      max-height: 150px;
      height: 90px;
    }
  }

  .logentries-chart {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 20px;

    .chart {
      svg {
        border: 1px solid var(--color-gray-5);
      }
      display: flex;
      justify-content: center;
      display: flex;
      position: relative;
      max-width: 1200px;
      height: 15px;
    }
  }


  .details-table {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;

    .details-column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 5px 10px;
      max-width: 50%;
    }

    .details-row {
      display: flex;
      padding: 10px 5px;
      border-bottom: 1px solid var(--color-gray-5-05);
    }

    .details-field {
      font-size: var(--default-font-size);
      display: flex;
      flex-grow: 1;
      padding: 0px 10px;

      &.success {
        font-weight: 600;
        color: var(--color-success-dark);
      }

      &.fail {
        font-weight: 600;
        color: var(--color-danger-dark);
      }

      &:first-child {
        font-weight: 500;
        min-width: 140px;
        max-width: 140px;
      }

      &:last-child {
        justify-content: flex-end;
        text-align: right;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    @media (max-width: 600px) {
      flex-direction: column;

      .details-column {
        max-width: 100%;
      }
    }
  }

  .load-more {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 20px;
  }

  .monitor-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    font-weight: 300;


    code {
      user-select: text;
      font-family: "JetBrains Mono", monospace;
      font-weight: 500;
      background-color: var(--color-gray-5);
      padding: 7px;
      border-radius: var(--default-border-radius);
    }

    .buttons {
      display: flex;
      margin-top: 10px;
      a {
        color: var(--color-primary);
        text-decoration: underline;
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

  }

}
