.main-layout {
  .logs-table {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    font-size: var(--default-font-size);

    .table-item {
      display: flex;
      padding: 0px;
      margin: 0px;
      list-style: none;
      width: 100%;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;


      &:hover {
        background-color: var(--color-primary-5);
      }

      &.status-down > li {
        color: var(--color-danger-dark);
      }

      > li {
        font-family: "JetBrains Mono", monospace;
        color: var(--color-gray-50);
        display: flex;
        min-height: 30px;
        align-items: center;

        &:not(:last-child) {
          margin-right: 7px;
        }
      }

      &.healthcheck > li {
        &.created-at {
          font-weight: 300;
          min-width: 330px;
          width: 100%;
        }

        &.method {
          font-weight: 500;
          min-width: 50px;
          /* border: 1px solid red; */
          /* flex-grow: 1; */
        }

        &.host {
          min-width: 170px;
        }

        &.user-agent {
          overflow: hidden;
          min-width: 200px;
          width: 200px;
          color: var(--color-gray-30);
          > span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }

      @media (max-width: 600px) {
        flex-direction: column;
        margin-bottom: 15px;
        > li {
          min-height: 20px;
          &.user-agent {
            width: 100% !important;
          }
        }
      }
    }
  }
}
