<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@200..900&family=Montserrat:wght@500">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>sereno.xyz - the open-source uptime monitoring tool</title>
    <link id="theme" href="/css/main.css?ts={{& ts}}"
          rel="stylesheet" type="text/css" />
    <link rel="icon" href="/images/logo.svg" />
  </head>
  <body>
    <section id="app" tabindex="1"></section>
    <section id="modal"></section>
    {{# manifest}}
    <script src="{{& config}}"></script>
    <script src="{{& locales}}"></script>
    <script src="{{& main}}"></script>
    {{/manifest}}
  </body>
</html>
