<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@200..900&family=Montserrat:wght@500&JetBrains+Mono:wght@200..900">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>sereno.xyz - the open-source uptime monitoring tool</title>
    <link id="theme" href="/css/main.css?ts={{& ts}}" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/images/logo.svg" />

    <link rel="stylesheet" 
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/styles/default.min.css"
          media="none"
          onload="if(media!='all')media='all'" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/highlight.min.js" async></script>

    <script>
      window.appVersion = "%version%";
    </script>
  </head>
  <body>
    {{>../images/sprites/symbol/svg/sprite.symbol.svg}}

    <section id="app"></section>
    <section id="modal"></section>

    {{# manifest}}
    <script src="{{& config}}"></script>
    <script src="{{& locales}}"></script>
    <script src="{{& main}}"></script>
    {{/manifest}}
  </body>
</html>
